<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    
    <servers>
        <server>
            <id>groovypp</id>
            <username>deployer</username>
            <password>\{DESede\}Lhd9VC3N4hzp0bOomfgFVg==</password>
        </server>
        <server>
            <id>libs-snapshots-local</id>
            <username>deployer</username>
            <password>\{DESede\}Lhd9VC3N4hzp0bOomfgFVg==</password>
        </server>
        <server>
            <id>libs-releases-local</id>
            <username>deployer</username>
            <password>\{DESede\}Lhd9VC3N4hzp0bOomfgFVg==</password>
        </server>
    </servers>

  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-releases</name>
          <url>http://groovypp.artifactoryonline.com/groovypp/libs-releases</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshots</name>
          <url>http://groovypp.artifactoryonline.com/groovypp/libs-snapshots</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>plugins-releases</name>
          <url>http://groovypp.artifactoryonline.com/groovypp/plugins-releases</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>plugins-snapshots</name>
          <url>http://groovypp.artifactoryonline.com/groovypp/plugins-snapshots</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
